<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoplists view</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
</header>
<main>
    <section id="shoplists">
        <h1> Shopping lists <a href="/newList">New list </a></h1>
        <div th:each="shoplistDTO : ${shoplistsDTOS}">
            <h2>
                <span th:text="${shoplistDTO.getName()}"></span>
                <button class="toggle-btn">Expand</button>
            </h2>
                <ul class="product-list expandable">
                    <li th:each="product : ${shoplistDTO.getProducts()}">
                      <span th:text="${product.getName()}"></span>,&nbsp
                      <span th:text="${product.getQuantity()}"></span>
                        <span th:text="${product.getShoplistProductId()}"></span>
                        <input type="checkbox"
                               th:checked="${product.isPurchased()}"
                               th:data-id="${product.getShoplistProductId()}"
                               class="purchased-checkbox">
                     </li>
                </ul>
        </div>
    </section>
</main>
<script src="/js/script.js"></script>

<footer>
    <p>&copy; 2024 Michaś Solutions</p>
</footer>
</body>
</html>